*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#wrapper{
  
    font-family: $fonts;
    max-width: 1918px;
    margin: 0 auto;
    display: flex;
    height: 100vh;          
    @include Responsive(desktop-max) {
        height: auto;
    }

}

.coating{

    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    
  } 

  .over{
    height: 90vh;   
  }
